.form {
  &__input {
    font-size: 1.25rem;
    font-family: inherit;
    color: inherit;
    padding: 1rem 1.5rem;
    border-radius: 0.8rem;
    border: 1px solid $color-text-primary;
    display: inline;
    width: 80%;
    // transition: all 0.3s;

    &:focus {
      outline: none;
      border: 2px solid $color-green-light-1;
      // form__input:focus:invalid
      &:invalid {
        border: 2px solid $flame;
      }
    }
    &:hover {
      transform: scale(1.01) !important;
      box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.3);
    }

    &.error {
      border: 2px solid $flame;
    }
  }
}

// TODOS:

/* 

CSS
===
- More padding between the title and the input
- Bigger font for the title
- Add some nice box-shadow to that form
- Center the input + button inside panel
*/
