.form {
  &__input {
    font-size: 1.25rem;
    font-family: inherit;
    color: inherit;
    padding: 1rem 1.5rem;
    border-radius: 0.8rem;
    border: 1px solid $color-text-primary;
    display: inline;
    width: 80%;
    // transition: all 0.3s;

    &:focus {
      outline: none;
      border: 2px solid $color-green-light-1;
      // form__input:focus:invalid
      &:invalid {
        border: 2px solid $flame;
      }
    }
    &:hover {
      transform: scale(1.01) !important;
      box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.3);
    }
  }
}

h1 {
  width: 400px;
  margin: 0 auto;
  font-size: 2.3em;
}

.panel {
  width: 40%;
  margin: 0 auto;
  padding: 4rem;
  border-radius: 2rem;
  background-color: $manatee;
}

// TODOS:

/* 

- Create a border form-> Show it in the middle of the website (both horizontal & vertical)
- Have a background color.
- Have a border (radius also)
- Add some nice box-shadow to that form
- Make the main input and the submit bottom be inline on the form and occupy most of the width
*/
